.roboto-font{
    font-family: 'Roboto', sans-serif;
}
.searchIcon {
    color: gray;
  }
  .searchBox {
    border: 0 solid white;
    padding: 0.5em;
    grid-column:2/4;
    grid-row:1;
    outline:none;
  } 
  .searchButton {
    background: #234569;
    border: 0;
    color: white;
    padding: 0.5em;
    border-radius: 0;
    grid-column:4/5;
    grid-row:1;
  }
  .searchContainer {
    display: grid;
    grid-template-columns:0.2fr 5fr 1fr;
    width:85%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  #display-meals{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-gap: 30px;
  }
  .single-meal{
    border: 0;
    border-radius: 5px;
    background-color: white;
  }
  .single-meal h3{
      color :black;
      font-size: 15px;
      font-weight: 600;
      text-align: center;
      padding: 15px 0;
  }
  .single-meal img{
    border: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
      width: 100%;
  }
  #display-ingredients{
      display: block;
      margin: auto;
      width: 40%;
      background-color: white;
      border-radius: 5px;
      margin-bottom: 10px;
      
  }
  .ingredient-meal{
    border: 0;
    border-radius: 5px;
    background-color: white;
  }
  .ingredient-meal h3{
    color :black;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    padding: 0px 10px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.ingredient-meal h4{
    color :black;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    padding: 0px 10px;
    padding-bottom: 10px;
}
.ingredient-meal img{
    border: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
ul{
    padding-bottom: 20px;
}
li{
    list-style: none;
}
.check-icon{
    margin-right: 5px;
    background-color: white;
    color: navy;
}
.decoration-button{
    align-items: center;
   margin-left: 40%;
   margin-bottom: 5%;
}